head {
    height: auto;
    padding: 5px;
    text-align: center;
}

.fuentes {
    font-family: $fuente-principal;

}

ul{ 
    height: 100%;
    list-style-type: none;
}

li{ 
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

ul li{
    display: inline-block;
}


a{
    text-decoration: none;
}

/*Para alinear al centro todos los titulos h1*/
h1 {    
    text-align: center;
    margin-top: 10px;
}


/*Para alinear al centro todos los titulos h2*/
h2 { 
    text-align: center;
}

h3 {
    font-size: medium;
    font-weight: 700;
}


h4{
    font-size:x-large;
}

p{
    text-align: center;
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}

/* img{
    margin-top: 0px;
} */

.boton{
    background-color: black;
    color: white;
}

.boton:hover{
    background-color: #158487;
}

.nosotros-article{
    width: 700px;
    height: 400px;
}

.espaciado{
    margin-bottom: 300px;
}


.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
}
.btn-wsp:hover{
    background: #20ba5a;
}

